
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}
body{
  font-family: 'Bitter', serif;
  height: 300vh;
  background: linear-gradient(135deg, #c4e4eb, #15a6c7);
}

h2{
	padding-top:5%;
	color: #09839e;
}
h1{
	padding-top:5%;
	color: dark blue;
}

.center {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(135deg, #c4e4eb, #15a6c7);
  border-width: 2px;
	border-style: solid;
	border-color:#15a6c7;
	width: 80%;
}
.data{
	padding:10px;
	font-weight:bold;
	border-width: 2px;
	border-style: solid;
	border-color:#15a6c7;
}
.data1{
	padding:10px;
	border-width: 2px;
	border-style: solid;
	border-color:#15a6c7;
}
.btn{
    display: inline-block;
    background: #15a6c7;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;
    height:40px;
}
.btn a{
	text-decoration: none;
}
.btn1{
    display: inline-block;
    background: red;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;
    height:40px;
    position: absolute;
	right:    0;
	top:0;
	margin-right:20px;
}
.btn1:hover{
    background: pink;
    color:black;
}
.btn:hover{
    background: #c4e4eb;
    color:black;
}